<div class="container">
    <%- partial('../general/serviceProviderNavbar')%>
    <h1>List of Available Jobs</h1>
    <table style="text-align: center;">
        <tr>
            <th>Service</th>
            <th>Description</th>
            <th>Client Name</th>
            <th>Date</th>
            <th>Address</th>
            <th>Assigned</th>
            <th>Completed</th>
            <th></th>
        </tr>
        <% for(var i=0; i<jobs.length; i++) {%>
            <% if(!jobs[i].assignedServiceProviderId){ %>
                <tr>
                    <td><%= jobs[i].service %></td>
                    <td><%= jobs[i].description %></td>
                    <td><%= jobs[i].clientName %></td>
                    <td><% if(jobs[i].date) {%>
                        <%= jobs[i].date %>
                        <% } else { %>
                            undefined
                        <% }%>
                    </td>
                    <td><%= jobs[i].address.street1 %>
                        <% if(jobs[i].address.street2) {%>
                            <%= jobs[i].address.street2 %>
                        <% } %>
                        <%= jobs[i].address.city %>, <%= jobs[i].address.province %>
                    </td>
                    <td><% if(jobs[i].assignedServiceProviderId) { %>
                            yes
                        <% } else { %>
                            no
                        <% } %>
                    </td>
                    <td><%= jobs[i].completed %></td>
                    <td><button class="assign" id=<%= jobs[i].id %>>Take Job</button></td>
                </tr>
            <% } %>
        <% } %>
    </table>
</div>

<script>
    $(".assign").click(function(event){
        var jobId = event.target.id;
        $.post(
            '/job/assign',
            {id: jobId}, 
            function(res) {
                alert(res.response);
                window.location.reload();
        }).fail(function(res) {
            alert("Error: " + res.getResponseHeader("error"));
        });
    });

    $("#myJobs").click(function(event){
        window.location = '/job/myjobspage';
    });
</script>
